* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grilleJeu {
    margin-top: 5px;
    display: grid;
    width : 300px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    border: 2px solid black;
}

.grilleMemoire {
    margin-top: 5px;
    display: grid;
    width : 300px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    border: 2px solid black;
}

.unA {
    grid-row: 1;
}

.unB {
    grid-row: 2;
}

.unC {
    grid-row: 3;
}

.unD {
    grid-row: 4;
}

.unE {
    grid-row: 5;
}

.unF {
    grid-row: 6;
}

.deuxA {
    grid-column: 1;
}

.deuxB {
    grid-column: 2;
}

.deuxC {
    grid-column: 3;
}

.deuxD {
    grid-column: 4;
}

.deuxE {
    grid-column: 5;
}

.deuxF {
    grid-column: 6;
}

.carte {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border: 1px solid black;
}

.tourne {
    border: 2px solid blue;
}

.partieJeu{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-auto-flow: auto;
}

.afficherCoups {
    margin-right: 20%;
}

body {
    margin-top: 2.5%;
    text-align: center;
}

#lesScores {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.afficherCoups {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.laGrilleJeu {
    text-align: left;
    margin-left: 35%;
}

.laGrilleMemoire {
    text-align: left;
}

.partieSaisie {
    margin-top: 2.5%;
    margin-bottom: 5px;
}

.elementSaisie {
    margin: 5px;
}